body{
    background-color:#d3dada;
    margin:0px;
    width:100%;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
}
.num{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
    padding-top: 10px;
    width:50%;
}
.out{
    font-size: 20px;
    padding-top: 20px;
    width: 50%;
    text-align: right;
}
.out a{
    margin-right: 20px;
}
.component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    margin-top: 50px;
    height: auto;
    background-color: white;
    justify-content: center;
}
.tab{
    font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-bottom: 30px;
    text-align: center;
}
.tab tr, .tab th{
    border: 1px solid #ddd;
    padding: 8px;
}
.tab td{
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #ddd;
}
.tab td{
    text-decoration: none;
}
.tab tr:nth-child(even){
    background-color: #f2f2f2;
}
.tab tr:hover{
    background-color: #ddd;
}
.tab th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(174, 213, 255);
}